In [1]:
import pandas as pd

In [ ]:
from google.colab import files
files.upload()

In [8]:
text1='all_heads.txt'
print(text1)

all_heads.txt

In [13]:
data={
    '1':['Beetlejuice','Directed by Alex Timbers (Moulin Rouge!), Beetlejuice tells the story of Lydia Deetz, a strange and unusual teenager whose whole life changes when she meets a recently deceased couple and a demon with a thing for stripes. And under its uproarious surface (six feet under, to be exact), it’s a remarkably touching show about family, love, and making the most of every Day-O!','Eddie Perfect\nAlex Timbers\n',150,69,83],
    '2':['Chicago','Set in the legendary city during the roaring “jazz hot” 20s, Chicago tells the story of two rival vaudevillian murderesses locked up in Cook County Jail. Nightclub star Velma’s serving time for killing her husband and sister after finding the two in bed together. Driven chorus girl Roxie’s been tossed in the joint for bumping off the lover she’s been cheating on her husband with. Not one to rest on her laurels, Velma enlists the help of prison matron Mama Morton and slickster lawyer Billy Flynn, who turn Velma’s incarceration into a murder-of-the-week media frenzy, thus preparing the world for a splashy showbiz comeback. But Roxie’s got some of her own tricks up her sleeve…','Charlotte d’Amboise\nBianca Marroquin\nJames Monroe Iglehart\nRaymond Bokhour\nJennifer Fouche\nRyan Lowe\n', 150,49,83],
    '3':['Company','The quintessential musical comedy about the search for love and cocktails in the Big Apple is turned on its head in Marianne Elliott’s revelatory staging, in which musical theater’s most iconic bachelor becomes a bachelorette. At Bobbie’s 35th birthday party, all her friends are wondering why isn’t she married? Why can’t she find the right man? And, why can’t she settle down and have a family? This whip smart musical, given a game-changing makeover for a modern-day Manhattan, features some of Sondheim’s best loved songs, including “Company,” “You Could Drive a Person Crazy,” “The Ladies Who Lunch,” “Side by Side,” and the iconic “Being Alive.”','Katrina Lenk\nPatti LuPone\nMatt Doyle\nEtai Benson\nJennifer Simard\nChristopher Fitzgerald\nChristopher Sieber',165,39,86],
    '4':['Hamilton','Hamilton is the story of the unlikely Founding Father determined to make his mark on the new nation as hungry and ambitious as he is. From bastard orphan to Washington’s right-hand man, rebel to war hero, a loving husband caught in the country’s first sex scandal, to the Treasury head who made an untrusting world believe in the American economy. George Washington, Eliza Hamilton, Thomas Jefferson and Hamilton’s lifelong friend/foil Aaron Burr all make their mark in this astonishing new musical exploration of a political mastermind.','Miguel Cervantes\nJin Ha\nMandy Gonzalez\nEuan Morton\nKrystal Joy Brown\nTamar Greene\nKyle Scatliffe\nFergie L. Philippe\nAubin Wise\nDaniel Yearwood\n',175,199,97],
    '5':['Harry Potter and the Cursed Child','19 years after Harry, Ron, and Hermione saved the wizarding world, they’re back on a most extraordinary new adventure – this time, joined by a brave new generation that has only just arrived at the legendary Hogwarts School of Witchcraft and Wizardry. Prepare for spectacular spells, a mind-blowing race through time, and an epic battle to stop mysterious forces, all while the future hangs in the balance.','Steve Haggard\nDavid Abeles\nJenny Jules\nDiane Davis\nBrady Dalton Richards\nJames Romney\nNadia Brown\nAaron Bartz',210,59,90],
    '6':['Hadestown','Welcome to Hadestown, where a song can change your fate. This acclaimed new musical by celebrated singer-songwriter Anaïs Mitchell and innovative director Rachel Chavkin (Natasha, Pierre & The Great Comet of 1812) is a love story for today… and always. Hadestown intertwines two mythic tales—that of young dreamers Orpheus and Eurydice, and that of King Hades and his wife Persephone—as it invites you on a hell-raising journey to the underworld and back. Mitchell’s beguiling melodies and Chavkin’s poetic imagination pit industry against nature, doubt against faith, and fear against love. Performed by a vibrant ensemble of actors, dancers and singers, Hadestown is a haunting and hopeful theatrical experience that grabs you and never lets go.','Patrick Page\nEva Noblezada\nAndré De Shields\nAmber Gray\nReeve Carney',150,49,91],
    '7':['The Music Man','Hugh Jackman will not appear as Harold Hill August 15–21, 2022; September 5–11, 2022 and October 10–16, 2022.Two-time Tony Award®, Grammy Award®, and Emmy Award® winner Hugh Jackman will make his highly anticipated return to Broadway in what is widely agreed to be the greatest role ever created for an actor in the history of musical theater: Professor Harold Hill in Meredith Willson’s beloved classic, The Music Man.','Hugh Jackman\nSutton Foster\nJefferson Mays\nJayne Houdyshell\nShuler Hensley\nMarie Mullen\nRemy Auberjonois\nGino Cosculluela',170,99,89],
    '8':['Moulin Rouge','Enter a world of splendor and romance, of eye-popping excess, of glitz, grandeur and glory! A world where Bohemians and aristocrats rub elbows and revel in electrifying enchantment. Pop the champagne and prepare for the spectacular spectacular... Welcome to Moulin Rouge! The Musical. Baz Luhrmann’s revolutionary film comes to life onstage, remixed in a new musical mash-up extravaganza. A theatrical celebration of truth, beauty, freedom and—above all—LOVE, Moulin Rouge! is more than a musical; it is a state of mind. How wonderful life is...at the Moulin Rouge.','Aaron Tveit\nNatalie Mendoza\nEric Anderson\nSahr Ngaujah\nTam Mutu\nRicky Rojas\nRobyn Hurder',165,69,84],
    '9':['The Phantom of the Opera','The longest-running show in Broadway history, Andrew Lloyd Webber’s The Phantom of the Opera debuted in 1988, winning seven Tony Awards® including Best Musical. Based on Gaston Leroux’s horror novel, it tells the enticing story of the Phantom, who haunts the stage of the Paris Opera and subsequently falls in love with a beautiful young soprano. Audiences are in for a thrilling night at the theater to see this timeless tale, accompanied by an unforgettable musical score.','Ben Crawford\nEmilie Kouatchou\nJohn Riddle\nSara Esty\nMaree Johnson\nRaquel Suarez Groen\nBradley Dean\nCraig Bennett\nCarlton Moe',150,29,87],
    '10':['Six','From Tudor Queens to Pop Princesses, the Six wives of Henry VIII take the mic to remix five hundred years of historical heartbreak into an exuberant celebration of 21st century girl power! This new original musical is the global sensation that everyone is losing their head over. The New York Times says Six is “pure entertainment!” and Evening Standard hails Six as “the most uplifting new British musical I have ever had the privilege to watch.”','Adrianna Hicks\nAndrea Macasaet\nAbby Mueller\nBrittney Mack\nSamantha Pauly\nAnna Uzele',80,69,85],
    '11':['Wicked','Wicked, the Broadway sensation, looks at what happened in the Land of Oz…but from a different angle. Long before Dorothy arrives, there is another girl, born with emerald-green skin—smart, fiery, misunderstood, and possessing an extraordinary talent. When she meets a bubbly blonde who is exceptionally popular, their initial rivalry turns into the unlikeliest of friendships…until the world decides to call one “good,” and the other one “wicked.”','Lindsay Pearce\nGinna Claire Mason\nSam Gravitte\nJudy Kaye\nMili Diaz\nJordan Barrow\nMichael McCormick\nMichael X. Martin',165,75,93]

}
musicals = pd.DataFrame.from_dict(data, orient="columns").T.rename(columns={0:'Title',1:'Description',2:'Cast&Crew',3:'Duration',4:'Minimum price',5:'Rating'})

display(musicals)

                                Title  ... Rating
1                         Beetlejuice  ...     83
2                             Chicago  ...     83
3                             Company  ...     86
4                            Hamilton  ...     97
5   Harry Potter and the Cursed Child  ...     90
6                           Hadestown  ...     91
7                       The Music Man  ...     89
8                        Moulin Rouge  ...     84
9            The Phantom of the Opera  ...     87
10                                Six  ...     85
11                             Wicked  ...     93

[11 rows x 6 columns]

In [14]:
musicals.to_csv('musics_base.csv')